#webBody{
    background-color: #E6E6FA;
    font-family: 'Raleway', sans-serif;
}

#container {
align-content: center;
position: absolute;
border: solid 5px #000080;
left: 36%;
top: 20%;
width: 550px;
height: 550px;
border-radius: 15px;
text-align: center;
}

#questionsDiv {
margin: 20px;
}

#startQuiz{
    background-color: #000080;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

#startQuiz:hover, #highcores:hover{
    color: lightgray;
}

#highScores {
    background-color: #000080;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
border-radius: 10px;
}
